attrs==23.1.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
clr-loader==0.2.6
contourpy==1.1.1
cssselect==1.2.0
cssutils==2.7.1
cycler==0.12.1
db-dtypes==1.1.1
dbharbor==0.1.4
demail @ git+https://github.com/edire/demail.git@7e614361f729f5f44b7e461e2cb77f1ed0806faa
dlogging @ git+https://github.com/edire/dlogging.git@12c73a61a71ebde99c8e078df3a663ca78fb116a
dwebdriver @ git+https://github.com/edire/dwebdriver.git@517c8ac14250ddb7e2d2d8791e9c1a420f77f595
et-xmlfile==1.1.0
fonttools==4.43.1
google-api-core==2.12.0
google-auth==2.23.3
google-cloud-bigquery==3.12.0
google-cloud-core==2.3.3
google-crc32c==1.5.0
google-resumable-media==2.6.0
googleapis-common-protos==1.60.0
greenlet==3.0.0
grpcio==1.59.0
grpcio-status==1.59.0
h11==0.14.0
idna==3.4
Jinja2==3.1.2
kiwisolver==1.4.5
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.0
numpy==1.26.0
openpyxl==3.1.2
outcome==1.2.0
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
premailer==3.10.0
proto-plus==1.22.3
protobuf==4.24.4
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyMySQL==1.1.0
pyodbc==5.0.0
pyparsing==3.1.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
pythonnet==3.0.3
pytz==2023.3.post1
requests==2.31.0
rsa==4.9
selenium==4.14.0
sendgrid==6.10.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.21
starkbank-ecdsa==2.2.0
trio==0.22.2
trio-websocket==0.11.1
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
webdriver-manager==4.0.1
wsproto==1.2.0
yagmail==0.15.293